ConfigArgParse==1.7
imageio==2.9.0
kornia==0.7.2
matplotlib==3.5.1
numpy==1.21.5
Pillow==9.0.1
Pillow==10.3.0
scikit_image==0.19.2
scipy==1.7.3
setuptools==61.2.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.64.0
